.root{
	 -fx-background-color: Linear-gradient(black, green) 
}

#newConnection-button, #submit-button1, #comboBox-menu, #ReturnMenu, #exit, #terminateButton, #connectionButtton, #sendButton{
	
	-fx-font-size: 15;
	-fx-background-color: black; 
	-fx-text-fill: green;
	
}


.combo-box .arrow {
    -fx-background-color: green;
}

.label{
	-fx-text-fill: white;

}

