body > pre > p {background-image:url(http://cdn0.sbnation.com/uploads/chorus_image/image/12011435/black-ops-2-mob-of-the-dead-screencap_960.0_cinema_1280.0.jpg)}
pre p b i {color:black;background-color:white;text-transform:capitalize; }
pre p {color:white;}
