body > p {background-image:url(http://callofdutyzombiesfansite.yolasite.com/resources/nzs_1920-1080.jpg.opt1018x572o0,0s1018x572.jpg)}
strong {color:gray;font-family:sans-serif;}
p strong i {color:white;}
p strong i + b {color:silver;word-spacing:2}
small, h2 {text-align:left}
